
body {
    background: #fbfbfb;
}
    .hotel-img
{width:112px;border:1px solid #ddd}

.form_title p {
    color: #999;
    margin: 5px 0 3px;
    padding: 0;
    font-size: 12px;
    line-height: 14px;
} 
.remove
{
   line-height:16px;color:#5a5a5a;
}
.remove a{color: #5a5a5a;
}

.hotel h3 strong {
    background-color: #f56161;
}

.car h3 strong {
    background-color: #3dcd84;
}
.flight h3 strong {
    background-color: #25aef5;
}
.tour h3 strong {
    background-color: #f4a033;
}
.transfer h3 strong {
    background-color: #f56192;
}

.options a {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    /* width: 150px; */
    /* height: 150px; */
    display: block;
    margin-bottom:10px;
}

.panel-wrapper {
    background: #fff;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #ddd;
    display: inline-block;
    width: 100%;
    min-height: 150px;
    margin-bottom: 15px;
}

.form_title h3 strong {
    /*background-color: #16b7cd;*/
    text-align: center;
    width: 85px;
    height: 85px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    line-height: 68px;
    text-align: center;
    position: absolute;
    left: -38px;
    top: -5px;
    z-index: 1;
    border: 8px solid #fff;
    box-shadow: -8px 0px 1px rgba(0,0,0,0.1);
}

    .form_title h3 strong i{left:-15px;}
    
    .panel-wrapper h3 {
        font-size: 18px;
    }

    .remove a:hover {
    color: red;
}

.icon-stars0-5:after {
    content: "\e036"
}
s
.icon-stars1-0:after {
    content: "\e038"
}

.icon-stars1-5:after {
    content: "\e038 \e036"
}

.icon-stars2-0:after {
    content: "\e038 \e038"
}

.icon-stars2-5:after {
    content: "\e038 \e038 \e036"
}

.icon-stars3-0:after {
    content: "\e038 \e038 \e038"
}

.icon-stars3-5:after {
    content: "\e038 \e038 \e038 \e036"
}

.icon-stars4-0:after {
    content: "\e038 \e038 \e038 ";
}

.icon-stars4-5:after {
    content: "\e038 \e038 \e038 \e038 \e036"
}

.icon-stars5-0:after {
    content: "\e038 \e038 \e038 \e038 \e038"
}

.icon-stars5-5:after {
    content: "\e038 \e038 \e038 \e038 \e038 \e036"
}

.icon-stars6-0:after {
    content: "\e038 \e038 \e038 \e038 \e038 \e038"
}

#bnr_2 {
    position: relative;
    height: 220px;
    background: #4d536d url(/frontend/img/booking_banner.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    width: 100%;
    font-size: 16px;
    display: table;
    text-align: center;
    z-index: 1;
}

    #bnr_2.restaurant_bg {
        background: #4d536d url(/frontend/img/restaurant_top_in.jpg) no-repeat center center;
        background-size: cover;
    }

    #bnr_2 .intro_title h1 {
        font-size: 38px;
        margin-bottom: 15px;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
    }

        #bnr_2 .intro_title h1:before,
        #bnr_2 .intro_title h1:after {
            display: inline-block;
            width: 60px;
            height: 1px;
            content: '';
            vertical-align: middle;
            background: rgba(255, 255, 255, 0.5);
        }

        #bnr_2 .intro_title h1:before {
            margin-right: 10px;
        }

        #bnr_2 .intro_title h1:after {
            margin-left: 10px;
        }



.bs-wizard {
    width: 100%;
    margin: 60px auto;
}

    .bs-wizard > .bs-wizard-step {
        padding: 0;
        position: relative;
    }

        .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
            font-size: 16px;
            margin-bottom: 5px;
            opacity:0.5;
        }

        .bs-wizard > .bs-wizard-step.active .bs-wizard-stepnum {opacity:1;
        }
        
        .bs-wizard > .bs-wizard-step .bs-wizard-info {
            color: #999;
            font-size: 14px;
        }

        .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
            position: absolute;
            width: 35px;
            height: 35px;
            display: block;
            background: #fff;
            top: 40px;
            left: 50%;
            margin-top: -15px;
            margin-left: -15px;
            border-radius: 50%;
        }

        .bs-wizard > .bs-wizard-step.complete > .bs-wizard-dot {
            background: #28d28c;
        }

            .bs-wizard > .bs-wizard-step.complete > .bs-wizard-dot:after {
                background: #28d28c;
                content: '\e81a';
                font-family: "fontello";
                font-size: 20px;
                color: #fff;
                line-height: 26px;
                border: none;
            }


        .bs-wizard > .bs-wizard-step.complete > .bs-wizard-stepnum {
           opacity:1;
        }
            /*.bs-wizard > .bs-wizard-step.complete > .bs-wizard-dot:before {
                content: "0xe987";
                font-family: fontello;color:#fff;
            }*/

        .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
            content: ' ';
            width: 25px;
            height: 25px;
            background: #28d28c;
            border-radius: 50px;
            position: absolute;
            top: 5px;
            left: 5px;
            border: 3px solid #fff;
        }

           .bs-wizard > .bs-wizard-step > .progress {
            position: relative;
            border-radius: 0px;
            height: 4px;
            box-shadow: none;
            margin: 23px 0;
            background-color: rgba(255,255,255,0.5);
        }

            .bs-wizard > .bs-wizard-step > .progress > .progress-bar {
                width: 0px;
                box-shadow: none;
                background: #28d28c;
            }

        .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
            width: 100%;
        }

        .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
            width: 0%;
        }

        .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
            width: 100%;
        }

        .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
            background-color: #bbb;
        }

            .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
                opacity: 0;
            }

        .bs-wizard > .bs-wizard-step:first-child > .progress {
            left: 50%;
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step:last-child > .progress {
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
            pointer-events: none;
        }

.color-green {
    color: #28d28c;
}
a.btn_1:hover, .btn_1:hover, a.btn_1:focus, .btn_1:focus, a.btn_full:hover, .btn_full:hover, a.btn_1.green:hover{
    background: rgba(44,62,80,1);
    color: #fff;
}
a.btn_1.green, .btn_1.green, a.btn_full, .btn_full {
    background: #16b7cd;
}

.form-control {
    background-color: #fff;
}
label{font-size:13px;}

.booking-login .form_title h3 strong {
    background-color: #aaa;
    width: 40px;
    height: 40px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    box-shadow:none;
}

.cards {
    margin-top: 22px;
}

.table > tbody > tr > td{font-size:13px;}
.table > thead > tr > th{font-size:16px;border-bottom:1px;}