/*.strip_all_flight_list .flight-header {
    padding: 5px 10px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    width: 100%;
}*/
.strip_all_flight_list article {
    margin-bottom: 20px;
}

.strip_all_flight_list h3.airlines-name {
    text-transform: capitalize;
    font-size: 15px;
    margin: 0px 0;
    /* float: left; */
    padding-left: 45px;
    /*position: absolute;*/
    /* width: 100%; */
    /*-webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;*/
    /* left: 0px; */
    line-height: 20px;
}

.stops-line, .wait-line {
    background: #f9f9f9;
    margin-top: -10px;
    margin-bottom: 15px;
    padding: 3px;
    font-size: 12px;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
}


#flightsegments #totaltime {
    margin-bottom: 0px !important;
    border-bottom: 0px;
}

.strip_all_flight_list .flight-number {
    padding-left: 45px;
    font-weight: bold;
    line-height: 22px;
}

.form-control {
    background: #fbfbfb;
}


.strip_all_flight_list img.airlines-logo {
    /*width: 45px;*/
    margin-top: -5px;
    position: absolute;
    left: 8px;
}

#search .nav-tabs > li > a {
    border-radius: 3px !important;
    padding: 5px 20px;
    padding: 7px 20px;
    width: 120px;
}

.strip_all_flight_list .flight-item-wrap .flight-detail {
    padding: 15px 0;
    border-left: 1px solid #ddd;
}

.strip_all_flight_list .flight-item-wrap .flight-price-area {
    width: 100%;
    height: 145px;
    display: table;
    text-align: center;
    padding: 0px 20px;
}

#search .tab-content {
    border-top: 0px;
}

.flight-rules {
    border: 1px solid #ddd;
    padding: 3px 25px;
    color: #333;
    font-size: 11px;
    margin-bottom:10px;
}

    .flight-rules:hover {
        background: rgba(44,62,80,1);
        color: #fff;
        border-color: rgba(44,62,80,1)
    }

.strip_all_flight_list .flight-item-wrap .flight-price-area .flight-price {
    display: table-cell;
    vertical-align: middle;
    padding:0 10%;
}

.strip_all_flight_list .flight-item-wrap .flight-price-area .price h4 {
    font-weight: bold;
    margin: 7px 0px;
    font-size: 18px;
}

.strip_all_flight_list .flight-item-wrap .flight-price-area .old-price h4 {
    color: gray;
    text-decoration: line-through;
    margin: 7px 0px;
    font-size: 16px;
}

.strip_all_flight_list .flight-item-wrap .flight-price-area .book-btn {
    border-radius: 50px;
    padding: 5px 0px !important;
    display:block;
}

    .strip_all_flight_list .flight-item-wrap .flight-price-area .book-btn i {
        font-size: 32px;
        position: absolute;
        top: 3px;
        right: 10px;
    }


.strip_all_flight_list .flight-item-wrap .flight-detail .dep {
    line-height: 1.875rem;
}

    .strip_all_flight_list .flight-item-wrap .flight-detail .dep .clock, .strip_all_flight_list .flight-item-wrap .flight-detail .clock {
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        position: relative;
        display: block;
    }

.strip_all_flight_list .flight-item-wrap .flight-detail .airline {
    color: #817b8f;
    font-size: 15px;
    line-height: 20px;
    display: inline-block;
}

.strip_all_flight_list .flight-item-wrap .flight-detail .time-line {
    padding: 0 .375rem;
    position: relative;
    line-height: 14px;
}

    .strip_all_flight_list .flight-item-wrap .flight-detail .time-line .stop span.stop-status {
        color: #16b7cd;
    }

    .strip_all_flight_list .flight-item-wrap .flight-detail .time-line .duration {
        font-size: 12px;
    }

    .strip_all_flight_list .flight-item-wrap .flight-detail .time-line ul.flight-line {
        height: 1px;
        width: 90%;
        background-color: #ccc;
        margin: 5px auto 6px;
        padding: 0;
        position: relative;
        border-radius: .375rem;
        display: block;
        text-align: center;
        line-height: 0;
    }

.flight-line i {
    font-size: 20px;
    transform: rotate(45deg);
    background: #fff;
    padding: 0px;
    margin-top: -10px;
}

#flightsegments {
    background: #f9f9f9 url("/Content/WebUI/images/ret.png")5px 50% no-repeat;
}


    #flightsegments:first-child {
        border-bottom: 1px solid #ddd
    }

    #flightsegments:first-child {
        background: #f9f9f9 url("/Content/WebUI/images/dep.png")5px 50% no-repeat;
    }

.strip_all_flight_list .flight-item-wrap .flight-detail .time-line ul.flight-line:before, .strip_all_flight_list .flight-item-wrap .flight-detail .time-line ul.flight-line:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
    top: -5px;
    border-radius: 100%;
    background: #ccc;
    border: 2px solid #ccc;
    z-index: 2;
}

.strip_all_flight_list .flight-item-wrap .flight-detail .time-line ul.flight-line:before {
    left: 0px;
}

.strip_all_flight_list .flight-item-wrap .flight-detail .time-line ul.flight-line:after {
    right: 0px;
}

.strip_all_flight_list article .flight-footer .flight-info {
    border-radius: 50px;
    color: #5a5a5a;
    padding: 3px 15px 3px 32px;
    border: 1px solid #ddd;
    line-height: 20px;
}

    .strip_all_flight_list article .flight-footer .flight-info:hover {
        background: #7eced9;
        border-color: #7eced9;
        color: #fff;
    }

.strip_all_flight_list article .flight-footer .item i {
    position: absolute;
    left: 5px;
    top: 2px;
}

/*.strip_all_flight_list {
    box-shadow: none !important;
    border-radius: 3px;
    border: 1px solid #ddd;
}*/


@media (max-width: 767px) {

    .summary-table .capsul{display:block;}
        .summary-table .capsul.departure-date, .summary-table .capsul.arrival-date {
            display: none;
        }
        .summary-table .capsul.arrival, .summary-table .capsul.departure, .summary-table .summary-btn {
            width: 33% !important;
            float: left;
        }


    .flight-informaiton {
        float: left;
        width: 70%;
    }
    .flight-price-box {
        float: right;
        width: 30%;
    }
    .strip_all_flight_list .flight-item-wrap .flight-detail .dep, .strip_all_flight_list .flight-item-wrap .flight-detail .arr {
        width: 30%;
        text-align: center !important;
        padding: 0px 0 0 5px;
        float: left;
    }

    .strip_all_flight_list .flight-item-wrap .flight-detail .time-line {
        width: 40%;
        float: left;
        font-size: 12px !important;
    }

    .strip_all_flight_list .flight-item-wrap .flight-detail h4 {
        font-size: 12px !important;
        text-align: center !important;
        width: 100%;
    }

    .strip_all_flight_list h3.airlines-name {
        padding-left: 25px;
    }

    .strip_all_flight_list img.airlines-logo {
        width: 30px;
    }

    .strip_all_flight_list h3.airlines-name, .strip_all_flight_list .flight-number {
        float: left;
    }

    .strip_all_flight_list article {
        margin-bottom: 0px;
    }

    .strip_all_flight_list .flight-item-wrap .flight-detail .airline-name {
        margin-bottom: 10px;
        overflow: hidden;
    }

    .strip_all_flight_list .flight-item-wrap .flight-detail .airline {
        display: none;
    }

    /*.strip_all_flight_list .flight-item-wrap .flight-price-area {
        border-top: 1px solid #ddd;
        background: #f9f9f9;
        height: auto;
    }*/

        .strip_all_flight_list .flight-item-wrap .flight-price-area .price h4 {
            font-weight: bold;
            margin: 6px 0px;
            font-size: 18px;
        }

        /*.strip_all_flight_list .flight-item-wrap .flight-price-area .flight-price .price, .strip_all_flight_list .flight-item-wrap .flight-price-area .book-btn {
            width: 33.333333% !important;
            float: left;
            margin: 0px 3%;
        }*/

        /*.strip_all_flight_list .flight-item-wrap .flight-price-area .flight-price {
            padding: 10px 0;
            display: block;
        }*/


}

@media (max-width: 480px) {
    .flight-informaiton, .flight-price-box{
        float: none;
        width: 100%;
    }

    .strip_all_flight_list .flight-item-wrap .flight-detail .time-line .duration {
        font-size: 10px;
    }

    .strip_all_flight_list .flight-item-wrap .flight-detail .dep, .strip_all_flight_list .flight-item-wrap .flight-detail .arr {
        width: 30%;
        text-align: center !important;
        padding: 0px 0 0 5px;
        float: left;
    }

    .strip_all_flight_list .flight-item-wrap .flight-detail .time-line {
        width: 40%;
        float: left;
        font-size:12px !important;
    }
    
    .strip_all_flight_list .flight-item-wrap .flight-detail h4 {
        font-size: 12px !important;text-align:center !important;width:100%;
    }

    .strip_all_flight_list h3.airlines-name{padding-left:25px;}
    .strip_all_flight_list img.airlines-logo {
         width: 30px; 
    }
    .strip_all_flight_list h3.airlines-name, .strip_all_flight_list .flight-number {
        float: left;
    }
    .strip_all_flight_list article {
        margin-bottom: 0px;
    }
    .strip_all_flight_list .flight-item-wrap .flight-detail .airline-name{margin-bottom:10px;overflow:hidden;}

    .strip_all_flight_list .flight-item-wrap .flight-detail .airline, .flight-rules span {
        display: none;
    }
    .strip_all_flight_list .flight-item-wrap .flight-price-area{border-top:1px solid #ddd;background:#f9f9f9;height:auto;}
        .strip_all_flight_list .flight-item-wrap .flight-price-area .price h4 {
            font-weight: bold; margin: 6px 0px;  font-size: 18px;
        }
    .strip_all_flight_list .flight-item-wrap .flight-price-area .flight-price .price, .strip_all_flight_list .flight-item-wrap .flight-price-area .book-btn, .flight-rules{width:40% !important;float:left;margin:0 3px;}

        .strip_all_flight_list .flight-item-wrap .flight-price-area .flight-price {

            padding: 10px 0;display:block;
        }

    .flight-rules i {
        display: block !important;
        font-size: 15px;
        width: auto !important;
        padding: 1px 2px;
    }
    .flight-rules {
        background: #fff;
        width: 32px !important;
        padding: 3px 0;
        height: 32px;
        border-radius: 100px;
        text-align: center;
        margin-left:10px;
    }
    }
