.img_list img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    height:100%;
    width:100%;

}

.cmn-toggle-switch span, .cmn-toggle-switch span::before, .cmn-toggle-switch span::after {
    background:#333;
}

.hotel-mapbox-wrap {
    width: 300px;
    padding: 5px 0 0 0;
    overflow: hidden;
}

.hotel-mapbox-wrap img.hotel-map-img {
    height: 125px;
    border-radius: 5px;
}
/*.hotel-mapbox-wrap h3 a{
    font-family: "Montserrat, Arial, sans-serif";
}*/

#search .tab-content {
    border-top: 0px;
}

.strip_all_tour_list:hover .img_list img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.form-control {background:#fbfbfb;}

.img_list .buttons {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    right: 0px;
    padding: 0px;
    width: 50px;
    /*background: url(/content/webui/images/shadow_tour.png);*/
    background-size: 120px 120px;
}

ul.add_info li{float:left;}

    ul.add_info li.icon_other {
        background: #eee;
    }

.other-price-wrap {border-top:1px solid #ddd;}
    .other-price-wrap .col {
        line-height: 18px;
        text-align: center;
        font-size: 12px;
        padding: 8px; 
        line-height:20px;height:55px;/*border-right:1px solid #ddd;*/
    }
    .other-price-wrap .col:last-child {
        border-right: none !important;
    }

    .other-price-wrap .room-type {
        width:260px;
    }
     
    .other-price-wrap .accordion-type, .other-price-wrap .total-price, .other-price-wrap .add-to-cart {
        width: 195px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

.img_list .buttons a {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    padding: 12px 0px;
    margin: 0px 0px 0 10px;
    border: 1px solid rgba(255,255,255,0.4);
    background: rgba(0,0,0,0.3);
    line-height: 20px;
    width: 45px;
    height: 45px;
    text-align: center;

}
    .img_list .buttons a.show-map {
        border-radius: 0 0 0 10px;
        background-color: #e34444;
        border-top: 0px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    }
    .img_list .buttons a.view-gallery {
        border-radius: 10px 0 0 0;
        background-color: #00a0dc;
        border-bottom: 0px;
    }

    .img_list .buttons a.view-gallery:hover {
            
        }
        .img_list .buttons a.show-map:hover{
         
        }
        /*.img_list:hover i {
    display: block;
}*/
        .tour_list_desc, .price_list, .img_list {
            height: 210px;
        }

.img-gallery .modal-dialog .modal-content {
    background-color: transparent !important;border:none;
    box-shadow: none !important;
}

.img-gallery .modal-dialog .modal-content .model-body{
 padding:0px !important;
}

.fotorama__wrap--css3 .fotorama__stage .fotorama__img {
   height:100% !important;width:100% !important;left:0px !important;right:0px !important;
}

.otherprice {
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 4px 15px;
    background: #fbfbfb;
    text-transform:capitalize;
    font-size:12px;
}

ul.add_info li a .icon_other:before {
    /*background-image: url(/content/webui/images/plus.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;*/content: '\2b';
    font-family: "icon_set_1";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    font-size:20px
}

.icon_set_1_icon-11:before {
    
}


.form-group .date-pick {
    background: #fbfbfb url(/Content/WebUI/images/date.png) 10px 50% no-repeat;
}
@media (min-width: 768px) {
    .other-price-wrap .accordion-type, .other-price-wrap .total-price, .other-price-wrap .add-to-cart, .other-price-wrap .room-type {
        width: 25%
    }
}

@media (max-width: 767px) {
    /*.summary-table .capsul {
        display: none;
    }*/

    /*#tools div div{width:50%}*/
    
    #search .departure {
        margin-bottom: 10px;
    }
    
    #search .tab-content {
        margin: 20px 0 0 0;
    }

    .room-line:first-child label, .other-price-wrap .accordion-type {
        display: none;
    }

    .add-room{margin-bottom:15px;}
    
    .col-padding {
        padding: 0 15px !important;

    }

    .hotelsearchdatalayer .date, .room-line .adult, .room-line .child {
        width: 50% !important;
        float: left;
    }
    .room-line:first-child .room-header {
        margin-top: 0px;
    }
    .room-line:first-child {
        border-top: none;
        padding: 0px;
    }

    .room-line .form-group h3 {
        background: none !important;
        border: none !important;
    }

    .price_list div{padding:0px !important;}

    .price_list, .tour_list_desc {
        height: auto;
        padding: 15px;
    }
    
    .tour_list_desc h3 {
        margin-top: 8px;
    }
    
    .other-price-wrap .col {
        font-size: 12px;
    }
    
    .other-price-wrap .room-type, .other-price-wrap .accordion-type, .other-price-wrap .total-price, .other-price-wrap .add-to-cart {
        width: 33.333333%;
    }

    .other-price-wrap .add-to-cart a.btn_1.medium, .btn_1.medium {
        padding: 8px 0px;
        font-size: 13px;
        width:100%;
    }
}

@media (max-width: 480px) {

    .price_list ul{overflow:hidden;padding-right:15px;}
    
    .price_list li.room-type hr {
        display: none !important
    }
    
    .price_list .room-type, .price_list .room-price {
        width: 50%;
        float: left;
    }

    .price_list .price-btn, .price_list .price-btn a{
        width: 100%;
        float: left;
    }
}