.hf {
    background-image: url('/content/webui/images/Hotels/HotelFacilitiesAvl.png');
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.hff {
    background-image: url('/content/webui/images/Hotels/HotelFacilitiesAvlFree.png');
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.hfp {
    background-image: url('/content/webui/images/Hotels/HotelFacilitiesAvlPaid.png');
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.hfn {
    background-image: url('/content/webui/images/Hotels/HotelFacilitiesNotAvl.png');
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.hf-car-parking {
	background-position: 0px 0px;
}

.hf-lifts {
	background-position: -32px 0px;
}

.hf-baby-sitting {
	background-position: -64px 0px;
}

.hf-beauty-parlour {
	background-position: -96px 0px;
}

.hf-business-centre {
	background-position: -128px 0px;
}

.hf-car-rental-facilities {
	background-position: -160px 0px;
}

.hf-coach-parking {
	background-position: -192px 0px;
}

.hf-disabled-facilities {
	background-position: -224px 0px;
}

.hf-outdoor-activity {
	background-position: -256px 0px;
}

.hf-exercise {
	background-position: -288px 0px;
}

.hf-laundry-facilities {
	background-position: -320px 0px;
}

.hf-porterage {
	background-position: -352px 0px;
}

.hf-room-service {
	background-position: -384px 0px;
}

.hf-sauna {
	background-position: -416px 0px;
}

.hf-shop {
	background-position: -448px 0px;
}

.hf-solarium {
	background-position: -480px 0px;
}

.hf-travel-agency {
	background-position: -512px 0px;
}

.hf-children-pool {
	background-position: -544px 0px;
}

.hf-indoor-pool {
	background-position: -576px 0px;
}

.hf-outdoor-pool {
	background-position: -608px 0px;
}

.hf-early-check-in {
	background-position: 0px -32px;
}

.hf-lobby {
	background-position: -32px -32px;
}

.hf-credit-card {
	background-position: -64px -32px;
}

.hf-bath-towels {
	background-position: -96px -32px;
}

.hf-cooking-aids {
	background-position: -128px -32px;
}

.hf-fridge {
	background-position: -160px -32px;
}

.hf-specific-conditioning {
	background-position: -192px -32px;
}

.hf-safe {
	background-position: -224px -32px;
}

.hf-open-space {
	background-position: -256px -32px;
}

.hf-indoor-sports {
	background-position: -288px -32px;
}

.hf-television-radio {
	background-position: -320px -32px;
}

.hf-safety {
	background-position: -352px -32px;
}

.hf-pets {
	background-position: -384px -32px;
}

.hf-child-friendly {
	background-position: -416px -32px;
}

.hf-bikes {
	background-position: -448px -32px;
}

.hf-snow-sports {
	background-position: -480px -32px;
}

.hf-internet {
	background-position: -512px -32px;
}

.hf-bed-constraints {
	background-position: -544px -32px;
}

.hf-smoking-nonsmoking {
	background-position: -576px -32px;
}

.h-power-constraints {
	background-position: -608px -32px;
}

.hf-reception {
	background-position: 0px -64px;
}

.hf-food-bar-features {
	background-position: -32px -64px;
}

.hf-late-checkout {
	background-position: -64px -64px;
}

.hf-phone {
	background-position: -96px -64px;
}

.hf-business-functions {
	background-position: -128px -64px;
}

.hf-beach {
	background-position: -160px -64px;
}

.hf-room-features {
	background-position: -192px -64px;
}

.hf-miscellaneous {
	background-position: -224px -64px;
}

.hf-medical-facilities {
	background-position: -256px -64px;
}