/*.flightsearchdatalayer .arrival, .flightsearchdatalayer .departure {
    width: 260px;
}*/
/*.ages select {
    width: 80px;
    float: right;
    background: #fbfbfb;height:32px;padding:0 10px;
}
.flightsearchdatalayer .ages label {
    float: left;
    font-size: 13px;margin:0px;
}*/
/*.flightsearchdatalayer .date {
    width: 150px;
}*/

/*.flight-class .form-group select, .flight-class .form-group input {
    height: 35px;
    padding: 0 10px;
}
.ages .form-group {
    overflow: hidden;
    line-height: 30px;
}*/
/*.flightsearchdatalayer .passengers {
    width: 160px
}
    .flightsearchdatalayer .passengers .dropdown-menu {
        width: 200px;
        right: -5px;
    }*/
/*.flightsearchdatalayer .search-btn {
    width: 140px;
}*/



.airline .form-group {
    margin-bottom: 15px !important;
}

.sub-tabs ul li.sub-btn {
    width: 120px !important;
    margin-right: 8px;
}

    .sub-tabs ul li.sub-btn:last-child {
        margin: 0px;
    }

    .sub-tabs ul li.sub-btn a {
        color: #000 !important;
        background: #999;
        padding: 8px 0px !important;
        font-size: 12px !important;
        border-radius: 3px !important;
        margin-right: 8px;
        /* width: auto !important; */
        width: 100% !important;
    }

.main-search ul.nav-tabs li a span {
    font-size: 30px;
    width: 100%;
    line-height: 1.3;
}

.flight-type-tabs ul li a, .transfer-type-tabs ul li a {
    height: auto !important;
    margin: 10px 0;
}
.main-search {
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    z-index: 5;
}

.sub-tabs ul li.active a {
    background: #16b7cd;
    /*width: auto !important;*/
}

.sub-tabs ul li a:before {
    display: none;
}

.sub-tabs .tab-content {
    padding: 0px

}
.flightsearchdatalayer .passengers a {
    background: #fff url(/Content/WebUI/images/pass.png) 10px 8px no-repeat;
}


#search_container {
    position: relative;
    height: 700px;
    /*background: url(/content/webui/images/villa.jpg) no-repeat center top;*/
    background-size: cover;
    color: #fff;
    width: 100%;
    display: table;
    z-index: 99;
}

#search {
    /*display: table-cell;
	vertical-align: middle;
	padding: 0 20%;*/
    /*padding-top: 100px;*/
}

    #search .nav-tabs {
        border-radius: 0;
        font-size: 12px;
        border: 0;
        border-bottom: 1px solid transparent;
        /*margin-left: 10px;*/
        text-transform: uppercase;
    }

        #search .nav-tabs > li > a {
            border-radius: 5px 5px 0 0;
            border: 0;
            color: #fff !important;
            font-size: 12px;
            width: 85px;
            text-align: center;
            padding: 8px 0;
            font-weight:normal;
        }

    #search .tab-content {
        border-radius: 2px;
        border: 0;
        color: #333;
        /*background-color: rgba(255,255,255,0.9);*/
        /*border-top: 5px solid #16b7cd;*/
    }

        #search .tab-content .form-group label {
            font-size: 13px;
        }


        /*#search .tab-content .form-group i.bed {
            position: absolute;
            bottom: 24px;
            left: 22px;
            font-size: 20px;
            opacity: 0.3;
        }*/


    #search .nav-tabs > li > a {
        background: rgba(44, 62, 80,0.8);
        padding-bottom: -2px;
    }

    #search .nav-tabs > li.active > a,
    #search .nav-tabs > li.active > a:hover,
    #search .nav-tabs > li.active > a:focus {
        color: #fff;
        background-color: orange;
    }

        #search .nav-tabs > li.active > a:before {
            background: transparent none repeat scroll 0 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-top: 12px solid orange;
            bottom: -12px;
            content: "";
            height: 0;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            width: 0;
            z-index: 5;
        }

.ages-wrap .ages{width:33.3333%;float:left;}

.add-room {
    position: absolute;
    padding: 0 15px 3px 15px;
    border-radius: 0 0 10px 10px;
    background: #fff;
    z-index: 5;
    border-bottom: 2px solid #ddd;
}

.room-line .form-group h3 {
    padding: 7px 0 7px 50px !important;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    line-height: 20px;
}
.remove-room {
    position: absolute !important;
    top: 8px;
    left: -15px !important;
    opacity: 1 !important;
    background:#fff;
}

    .room-line .form-group h3 i.bed{
        position: absolute;
        left: 8px;
        /*font-size: 22px !important;*/
        top: 5px;
    }

.room-line .room-header label{display:none;}
.room-line:first-child .room-header label {
    display: block;}

.room-line:first-child .room-header {
  margin-top:0px;
}


@media (max-width: 991px) {

    .main-search {
   top:15%;
    }

        .flightsearchdatalayer .airline{float:right;margin-bottom:0px !important;}


        .main-search ul.nav-tabs li a span {
            font-size: 35px;
        }
    
        #search .tab-content input, #search .tab-content select {
            background-color: #eee !important;
        }

    .col-padding {
        padding: 0 8px !important
    }



    #search .nav-tabs > li > a {
        font-size: 11px;
        padding: 5px 8px;

    }

    .col-padding {
        margin-bottom: 10px;
    }

    .flightsearchdatalayer .deparning, .flightsearchdatalayer .returning {
        width: 50% !important;
        margin-bottom: 20px;
    }

    .adult, .child, .infant, .airways, .ticket-type{width:25% !important;}

  

    .search-btn button{margin-top:0px !important;font-size:24px;padding:10px;}

    .flightsearchdatalayer .flight-from, .hotelsearchdatalayer .hotel-body, .rentacarsearchdatalayer .rent-body, .transfersearchdatalayer .trans-body, .ages-wrap {
        width: 100%;
        padding: 0px 2px !important;
    }

    .onward-date, .onward-time, .pickup-date, .pickup-time{width:25%;}
    
  

    /*.hotelsearchdatalayer .departure {width:100%;
    }*/

    .hotelsearchdatalayer .checkin, .hotelsearchdatalayer .checkout, .toursearchdatalayer .date {
        width: 25%;
    }

    .hotelsearchdatalayer .adult, .hotelsearchdatalayer .child {
     width:18% !important;
    }

    .flightsearchdatalayer .date {
        width: 50%;
    }

    .flightsearchdatalayer .passengers {
        clear: both;
    }

    .main-search .search-btn {
        width: 100%
    }

    .flightsearchdatalayer .returning {
        float: right;
    }

    .sub-tabs ul li.sub-btn {
        width: 140px !important;
    }

    .flightsearchdatalayer .deparning {
        float: left;
    }


        .hotelsearchdatalayer .date:last-child {
            float: right;
        }

    .search-btn {
        margin: 10px 0 0 0 !important;
        padding:0 8px !important;
    }
    .add-room{margin:0px !important;} .child-age-area {
        width: 100%;
        overflow: hidden;
        padding: 0px !important;
        margin-bottom: 0px !important;
    }

        .child-age-area .age-box {
            width: 150px;
            float: left;
            margin: 0 0 10px 0px;
        }

    .hotelsearchdatalayer .search-btn {

        margin-top: 35px !important;
    }

    .numbers-row {
        width: 130px;
    }

    input.qty2 {
        width: 68px;
    }



    .addroom {
        padding: 5px 15px;
    }

    }

  
@media (max-width: 767px) {
   
    #search .nav-tabs > li > a {
        height: 55px;
    }



    .main-menu ul#cd-primary-nav {
        padding: 15px;
    }
    .no-padding, .ages-wrap {
        padding: 0px !important;
    }

    .date, .time, .drive-age, .licence {
        width: 50% !important;
        float: left;
    }

   .ages {
        width: 33% !important;
        float: left;
    }


    .search-btn {
        width: 100%
    }
    .direct-flights label{color:#fff;} .search-btn button {
        margin-top: 0px !important;
    }
        
        /*.flight-type-tabs {
            margin-bottom: 10px !important
        }*/

    
    .main-search, .page-search {
        position: relative !important;
        background: rgba(44, 62, 80,1);
        border-top: 1px solid rgba(255,255,255,0.2);
        padding: 20px 15px;
    }
    #search .tab-content{background:rgba(255,255,255,0.2) !important;border-radius:5px}
    #search .tab-content .form-group label{color:#fff}

        #search .tab-content .form-group .arr, #search .tab-content .form-group .date-pick, #search .tab-content select {
            background-color: #fff !important;
            border: none !important;
        }

    .btn_1 {
        font-size: 22px;
        font-weight: 600;
        padding: 10px 0;
        margin-top: 10px;
    }

    .room-line .form-group h3{ background:none !important;border:none !important;color:#fff}

    .remove-room{background:transparent !important;color:#fff !important;}
    .remove-room i{
        background: transparent !important;
        color: #fff !important;
    } 

    .flightsearchdatalayer .arrival, .flightsearchdatalayer .departure {
        width: 100%;
      /*clear:both;float:left;*/
    }
    /*.flightsearchdatalayer .departure {
       float:right;
    }*/

    .flightsearchdatalayer .date, .flightsearchdatalayer .airline {
        width: 33% !important;
    }

    /*.flightsearchdatalayer .ticket-type {
        width: 25% !important;clear:both;
    }*/
    .adult, .child, .infant, .airways, .ticket-type {
        width: 25% !important;float:left;
    }

    .flightsearchdatalayer .passengers {
        clear: both;
    }

    .flightsearchdatalayer .search-btn {
        width: 100%
    }

    .flightsearchdatalayer .returning {
        float: right;
    }

    .sub-tabs ul li.sub-btn {
        width: 48% !important;
    }

    .flightsearchdatalayer .deparning {
        float: left;
    }

    .main-search ul.nav-tabs li a span {
        font-size: 35px;
    }
    #search .tab-content {
        background: #fff;
    }

        /*#search .tab-content input, #search .tab-content select {
            background-color: #eee !important;
        }*/

    .col-padding {
        padding: 0 15px !important
    }

    #search .nav-tabs > li > a > p, .room-line:first-child .room-header label {
        display: none;
    }

    #search .nav-tabs > li > a {
        font-size: 11px;
        padding: 5px 8px;
        width: 65px;
        background: rgba(0,0,0,0.3);

    }

    .col-padding {
        margin-bottom: 15px;
    }

    .hotelsearchdatalayer .date, .room-line .adult, .room-line .child {
        width: 50% !important;
        float: left;
    }

    .add-room {
        position: relative;
        padding: 5px 20px;
        border-radius: 30px;
        background: none !important;
        z-index: 5;
        color: #fff !important;
    }

    /*.room-line .form-group h3 {
        padding: 7px 0 7px 10px !important;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 100%;
        line-height: 20px;
    }*/
    
    .hotelsearchdatalayer .date:last-child {
        float: right;
    }

    .search-btn {
        margin: 15px 0 0 0 !important;
        padding: 0 15px !important;
        clear: both;
    }

    .child-age-area {
        width: 100%;
    }

        .child-age-area .age-box {
            width: auto;
            float: left;
            margin: 0 18px 10px 0;
        }

    .numbers-row {
        width: 120px;
    }

    input.qty2 {
        width: 58px;
    }

    /*.child-age-area .age-box:nth-of-type(2n) .form-group {
        float: right !important;
    }*/

    .addroom {
        padding: 5px 15px;
    }
}


@media (max-width: 480px) {
    /*.form-group, .flightsearchdatalayer .date {
        clear: both;
    }*/

    #search .tab-content .form-group label{font-size:11px !important;}

    .page-search #search .tab-content {background:none !important;margin:0px;padding:0px;}

    .hotelsearchdatalayer .search-btn {
        margin-top: 15px !important;
    }

    /*.flightsearchdatalayer .arrival, .flightsearchdatalayer .departure {
        width: 50%;
        float: left;
    }*/
    .flight-type-tabs{margin-bottom:0px !important;}
    
    .flightsearchdatalayer .airline {
        display: none;
    }
    
    .flightsearchdatalayer .ticket-type {
        width: 100% !important;
        clear: both;
    }

       
    .flightsearchdatalayer .arrival, .flightsearchdatalayer .departure {
        width: 100%;margin-bottom:0px;
    }
    .flightsearchdatalayer .date {
       width:50% !important;
    }
    .flightsearchdatalayer .passengers{clear:both;}
    
    .flightsearchdatalayer .search-btn {
        width: 100%
    } .flightsearchdatalayer .returning {
        float: right;
    }
    .sub-tabs ul li.sub-btn {
        width: 48% !important;
    }

    .flightsearchdatalayer .deparning {
        float: left;
    }
    
    #search .tab-content {
        background: #fff;
    }

            /*#search .tab-content input, #search .tab-content select {
                background-color: #eee !important;
            }*/

        .col-padding {
            padding: 0 15px !important
        }

        #search .nav-tabs > li > a > p {
            display: none;
        }

    #search .nav-tabs > li > a {
        font-size: 11px;
        padding: 10px 5px;
        width: 100%;
    }
    #search .nav-tabs > li {
        /*margin-right: 2px;*/
        width: 16%;
    }

    .main-search ul.nav-tabs li a span {
        font-size: 28px;
    }
        .col-padding {
            margin-bottom: 15px;
        }

        .hotelsearchdatalayer .date, .room-line .adult, .room-line .child {
            width: 50% !important;
            float: left;
            margin-bottom:0px;
        }

            .hotelsearchdatalayer .date:last-child {
                float: right;
            }

        .search-btn {
            margin: 10px 0 0 0 !important;
        }

        .child-age-area {
            width: 100%;
            margin:0px;
        }

            .child-age-area .age-box {
                width: 46%;
                float: left;
                margin: 0 0 10px;
            }

        .numbers-row {
            width: 130px;
        }

        input.qty2 {
            width: 68px;
        }

        .child-age-area .age-box:nth-of-type(2n) .form-group {
            float: right !important;
        }

        .addroom {
            padding: 5px 15px;margin-top:10px;
        }

        /*
    .main-search {
        top: 25px;
    }

    .form-group{margin-bottom:10px !important;} 
    
    #search .tab-content .form-group label {
        font-size: 12px;
    }


    
    .flightsearchdatalayer .arrival, .flightsearchdatalayer .departure, .flightsearchdatalayer .passengers, .flightsearchdatalayer .passengers .dropdown-menu, .flightsearchdatalayer .search-btn {
        width: 100% !important;
        clear: both;
        padding:0 15px !important;
    }
        .flightsearchdatalayer .passengers .dropdown-menu{left:0px;} 
    
.main-search ul.nav-tabs li a span {
        font-size: 25px;
    }

    .flight-type-tabs{margin-top:0px;}

    #search ul.nav.nav-tabs .gidisdonus, #search ul.nav.nav-tabs .tekyon, .room-options .adult, .room-options .child, .drive-age, .licence, .flightsearchdatalayer .date {
        width: 50%;
    }
    .room-options .adult, .room-options .child, .drive-age, .licence {float:left;padding:0 15px !important;}
        
    #search .tab-content {
            background-color: #fff;padding:15px;
        }
    #search .tab-content .form-group .form-control {background-color: #eee;width:100%;}

    .rentacarsearchdatalayer .col-padding, .flightsearchdatalayer .arrival, .flightsearchdatalayer .departure, .toursearchdatalayer .col-padding {
        padding: 0 15px !important;
    }
    .search-btn { margin-top: 10px !important;padding-left:15px !important;}
    #logo_home h1 a {
        background-size: 100px !important;
    }

    .flightsearchdatalayer .deparning, .hotelsearchdatalayer .checkin, .rentacarsearchdatalayer .pickupdate, .rentacarsearchdatalayer .dropdate, .rentacarsearchdatalayer .drive-age {
        padding-right: 8px !important;
    }

    .flightsearchdatalayer .returning, .hotelsearchdatalayer .checkout {
        padding-left: 8px !important;
    }
    
    .adult, .child, .infant {
        width: 33.333333%;
        float: left;
    }

    .adult{padding-right:8px;}.child{padding:0 8px;}.infant{padding-left:8px;}
        
    .sub-tabs ul li.sub-btn {
            width: 48% !important;
            margin: 0px;
        }

        .sub-tabs ul li#type-oneway {
            float: right;
        }
    #search .form-control {height:35px;
    }
    .onward-date, .pickup-date {
        padding-right: 0px !important;
    }
*/
    }