
.weather-cypn {
}


.weather-cypn .Wclear, .Wnt_clear {
    background: url("/content/webui/imagess/weather/clear.png") no-repeat !important;
}

.weather-cypn .Wchancerain, .Wnt_chancerain, .Wrain {
    background: url("/content/webui/images/weather/chancerain.png") no-repeat !important;
}


.weather-cypn .Wpartlycloudy, .Wnt_partlycloudy, .Wcloudy {
    background: url("/content/webui/images/weather/partlycloudy.png") no-repeat !important;
}

.weather-cypn .Wtstorms, .Wnt_storms {
    background: url("/content/webui/images/weather/chancerain.png") no-repeat !important;
}

.weather-cypn .Wchancetstorms, .Wnt_chancetstorms {
    background: url("/content/webui/images/weather/chancerain.png") no-repeat !important;
}


.Wclear, .Wnt_clear {
    background: url("/content/webui/images/weather/clear.png") no-repeat;
}

.Wchancerain, .Wnt_chancerain, .Wrain {
    background: url("/content/webui/images/weather/chancerain.png") no-repeat;
}


.Wpartlycloudy, .Wnt_partlycloudy, .Wcloudy, {
    background: url("/content/webui/images/weather/partlycloudy.png") no-repeat;
}

.Wtstorms, .Wnt_storms {
    background: url("/content/webui/images/weather/chancerain.png") no-repeat;
}

.Wchancetstorms, .Wnt_chancetstorms {
    background: url("/content/webui/images/weather/chancerain.png") no-repeat;
}

.Wpartlycloudy {
    background: url("/content/webui/images/weather/partlycloudy.png") no-repeat;
}

.Wmostlycloudy {
    background: url("/content/webui/images/weather/tstorms.png") no-repeat;
}

.weatherloadingImage {
    background: url(/content/webui/images/load.gif) no-repeat 10px 10px;
    background-color: #fff;
    margin: -22px;
    top: 30px;
    left: 125px;
    z-index: 10000;
    position: absolute;
    width: 44px;
    height: 42px;
    border-radius: 3px;
}

.weatherloading {
    background-color: white;
    width: 195px;
    height: 50px;
    filter: alpha(opacity=40);
    margin-top: -5px;
}

.contentweatherloading {
    position: relative !important;
    opacity: 1 !important;
    height: 60px !important;
}

.weather-content #hotelimage {
    top: 5px !important;
    left: 5px !important;
}

.weather-content .price {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.weather-image {
    position: relative;
    z-index: 10000;
    width: 80px;
    height: 80px;
}

/* Necessary CSS */
.slider {
    overflow: hidden;
    position: relative;
}

    .slider ul {
        margin: 0;
        padding: 0;
    }

    .slider li {
        float: left;
        margin: 0 5px 0 0;
        list-style: none;
        position: relative;
        padding: 10px;
        text-align: center;
        border-right: 1px solid #eee;
    }
    /* IE6 issues */
    .slider ul {
        width: 100%;
    }

.image .img-weather {
    margin: 0 auto;
    text-align: center;
    width: 80px;
    height: 80px;
}

.tarih {
    font-weight: 600;
    font-size: 12px;
}

.durum {
    font-size: 12px;
    font-weight: 600;
    color: #337ab7;
}

