.dashboard-panel {
   box-shadow: 0 1px 8px 0 rgba(28,35,43,.15);
}

.rate-addition {
    background: #f1f4f5;
    margin: 0 -30px 20px -30px;
    padding: 20px 0;
    border-top: 1px solid #e4eaec;
    border-bottom: 1px solid #e4eaec;
}

.background-white {
    background-color: #fff;
}