.page-item.active .page-link {
    color: #fff;
    background-color: #62a8ea;
    border-color: #62a8ea;
}

.no-border{
    border-top: none !important;
}

.detur-details {
    background: #16b7cd;
    color: #fafafa;
}

.detur-summary {
    background: #2c3e50;
    color: #fafafa;
}